.barLoaderWrapper {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgb(255 0 0 / 15%);
  display: none;
  height: 4px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
}

.barLoaderA {
  -webkit-animation: barA 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: barA 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgb(255 100 0);
  border-radius: 2px;
  display: block;
  height: 4px;
  overflow: hidden;
  position: absolute;
  will-change: left, right;
}

.barLoaderB {
  -webkit-animation: barB 2.1s 1.15s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: barB 2.1s 1.15s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgb(255 100 0);
  border-radius: 2px;
  display: block;
  height: 4px;
  overflow: hidden;
  position: absolute;
  will-change: left, right;
}

@keyframes barA {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes barB {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}
