@import '../../constans/colors.scss';

.mainNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

.logo,
.imageWrapper {
  height: 60px;
  width: 240px;
}

.imageWrapper {
  margin: 0 50px 0 0;
}

.navLink:first-child {
  border-left: 1px solid $mainNavColor;
}

.navLink {
  border-right: 1px solid $mainNavColor;
  color: black;
  display: inline-block;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 150px !important;
}

.navLinkActive {
  font-weight: 700;
  text-decoration: underline;
}
