@import 'generic/styles/colors.scss';

.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.alignCenter {
  align-items: center;
}

.flexItemBgColorWhite {
  background-color: $color-white;
}

.flexItemBgColorDarkRed {
  background-color: $color-cardinal;
}

.flexItemBgColorDarkBlue {
  background-color: $color-orient;
}

.flexItemBgColorDarkGrey {
  background-color: $color-alabaster;
}

.flexItemBgColorZooetisLogoOrange {
  background-color: $color-zooetis-logo-orange;
}

.flexItemBgColorZooetisDarkGray {
  background-color: $color-zooetis-dark-gray;
}

.rounded {
  border-radius: 2px;
}
