// http://chir.ag/projects/name-that-color

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-alto: rgb(210, 210, 210);
$color-cardinal: rgb(208, 28, 41);
$color-punch: rgb(220, 53, 69);
$color-eastern-blue: rgb(23, 162, 184);
$color-orient: rgb(2, 85, 121);
$color-outer-space: rgb(52, 58, 64);
$color-silver: rgb(204, 204, 204);
$color-alabaster: rgb(247, 247, 247);
$color-nevada: rgb(98, 103, 105);
$color-dusty-gray: rgb(148, 148, 148);
$color-pastel-green: rgb(119, 221, 119);
$color-silver-nobel: rgb(182, 182, 182);
$color-malachite: rgb(4, 195, 64);
$color-sunny-yellow: rgb(255, 204, 0);
$color-orange: rgb(255, 104, 31);

// $color-zooetis-orange: rgb(255, 103, 101);
$color-zooetis-logo-orange: rgb(242, 105, 37);
$color-zooetis-dark-gray: rgb(88, 88, 88);
