:global(.react-toggle) {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  display: inline-block;
  padding: 0;
  position: relative;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-x;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:global(.react-toggle-screenreader-only) {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

:global(.react-toggle--disabled) {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

:global(.react-toggle-track) {
  background-color: rgba(77, 77, 77, 1);
  border-radius: 30px;
  height: 24px;
  padding: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 50px;
}

:global(.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track) {
  background-color: rgba(0, 0, 0, 1);
}

:global(.react-toggle--checked .react-toggle-track) {
  background-color: rgba(25, 171, 39, 1);
}

:global(.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track) {
  background-color: rgba(18, 141, 21, 1);
}

:global(.react-toggle-track-check) {
  bottom: 0px;
  height: 10px;
  left: 8px;
  line-height: 0;
  margin-bottom: auto;
  margin-top: auto;
  opacity: 0;
  position: absolute;
  top: 0px;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  width: 14px;
}

:global(.react-toggle--checked .react-toggle-track-check) {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

:global(.react-toggle-track-x) {
  bottom: 0px;
  height: 10px;
  line-height: 0;
  margin-bottom: auto;
  margin-top: auto;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 0px;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  width: 10px;
}

:global(.react-toggle--checked .react-toggle-track-x) {
  opacity: 0;
}

:global(.react-toggle-thumb) {
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(77, 77, 77, 1);
  border-radius: 50%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  left: 1px;
  position: absolute;
  top: 1px;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 0.25s ease;
  width: 22px;
}

:global(.react-toggle--checked .react-toggle-thumb) {
  border-color: rgba(25, 171, 39, 1);
  left: 27px;
}

:global(.react-toggle--focus .react-toggle-thumb) {
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 153, 224, 1);
  -moz-box-shadow: 0px 0px 3px 2px rgba(0, 153, 224, 1);
  box-shadow: 0px 0px 2px 3px rgba(0, 153, 224, 1);
}

:global(.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb) {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 153, 224, 1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 153, 224, 1);
  box-shadow: 0px 0px 5px 5px rgba(0, 153, 224, 1);
}
