.gridRoot {
  height: 100%;
}

:global(.rdg) {
  contain: unset;
  height: 100%;
  position: relative;
}

:global(.rdg-cell) {
  display: block;
  margin-bottom: 0.4px;
  margin-left: 0.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  white-space: pre;
}

:global(.rdg-cell-inner) {
  display: block;
  margin-bottom: 0.4px;
  margin-left: 0.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  white-space: pre;
}

.gridFilter {
  font-size: 14px;
  width: 100%;
}

.gridColumnHeader {
  contain: none;
  line-height: 35px;
  overflow: visible;
  padding: 0 0.4rem;
  position: relative;
  width: 100%;
}

.gridButtonColumnHeader:after {
  bottom: 0;
  content: '';
  cursor: col-resize;
  margin-right: -4px;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}

.gridFixedWidthColumn {
  text-overflow: clip;
}

:global(.rdg-header-row) {
  contain: none;
}

.detailsButton {
  margin-top: -4px;
  padding: 0 0.5rem;
}

.toggleWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
